<a href="https://colab.research.google.com/github/JayOaks/GAIH-Study-Projects/blob/main/Regression_House_Prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing libraries

In [ ]:
#Import the pandas library as pd
import pandas as pd

Reading files / assigning datasets to variables

In [ ]:
#Assign the datasets / read them into variables
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

Check the columns of the training dataset

In [ ]:
#Using .columns, list all the columns in the training dataset and 
#identify which will be the targets and which wiil be features
train.columns

Index(['OverallQual', 'YearBuilt', 'YearRemodAdd', 'TotalBsmtSF', '1stFlrSF',
       'GrLivArea', 'FullBath', 'TotRmsAbvGrd', 'GarageCars', 'GarageArea',
       'SalePrice', 'ExterQual_TA', 'Foundation_PConc', 'KitchenQual_TA'],
      dtype='object')

Setting up the model

In [ ]:
#Import LinearRegression from the sklearn library
from sklearn.linear_model import LinearRegression

In [ ]:
#Assign LinearRegression() to a variable
model = LinearRegression()

In [ ]:
#Assign the target to the dataset 
#by dropping the target column from the X-variables and assign it as label
X_train = train.drop('SalePrice', axis=1)
y_train = train.loc[:,'SalePrice']

Training the model

In [ ]:
#Train the model
model.fit(X_train,y_train)

LinearRegression()

Testing the model

In [ ]:
#Assign the target to the dataset 
#by dropping the target column from the X-variables and assign it as label
X_test = test.drop('SalePrice', axis=1)
y_test = test.loc[:,'SalePrice']

In [ ]:
#Make predictions using the testing dataset
predictions = model.predict(X_test)

Finding the RMSE of the dataset

In [10]:
#Import mean_squared_error from the sklearn library
from sklearn.metrics import mean_squared_error

#Import sqrt from numpy
from numpy import sqrt

In [11]:
#Calculate the Root Mean Squared Errorand assign to a variable
rmse = sqrt(mean_squared_error(y_test, predictions))

#Print/display the Root Mean Squared Error
rmse

33186.38417236769

Comparing the actual test values with the predictions

In [12]:
#Create a dataframe with the actual values and the predicted values 
#for easy comparison
comparison = pd.DataFrame({"Actual Values": y_test,"Predictions": predictions})

In [13]:
#Display the first 5 rows of the comparison dataframe
comparison.head()

   Actual Values    Predictions
0         118500   83380.944694
1         154900  105974.149765
2         133000  139238.138343
3         115000  104982.049557
4         154500  140473.360146

In [14]:
#Display the last 5 rows of the comparison dataframe
comparison.tail()

     Actual Values    Predictions
324         132250  102816.796295
325         123000  121698.649065
326         316600  271745.844407
327         142000  131258.275591
328         250000  263005.372419

Checking correlations in the training dataset

In [15]:
#Display, in descending order, the top 10 correlations to the target
train.corr()["SalePrice"].sort_values(ascending=False).head(10)

SalePrice           1.000000
OverallQual         0.792263
GrLivArea           0.712054
GarageCars          0.658355
GarageArea          0.621354
1stFlrSF            0.621057
TotalBsmtSF         0.612205
FullBath            0.597505
TotRmsAbvGrd        0.573845
Foundation_PConc    0.517222
Name: SalePrice, dtype: float64

In [16]:
#Using .corr(), assign the correlations of the training dataset to a variable
correlations = train.corr()

#Print/display the correlations
correlations

,OverallQual,YearBuilt,YearRemodAdd,TotalBsmtSF,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageCars,GarageArea,SalePrice,ExterQual_TA,Foundation_PConc,KitchenQual_TA
OverallQual,1.000000,0.572367,0.550407,0.557685,0.539527,0.628890,0.598265,0.482744,0.627897,0.579378,0.792263,-0.692146,0.593079,-0.579892
YearBuilt,0.572367,1.000000,0.615451,0.418706,0.315715,0.205311,0.496001,0.122193,0.530869,0.466243,0.503317,-0.608600,0.675289,-0.478635
YearRemodAdd,0.550407,0.615451,1.000000,0.305751,0.299912,0.300983,0.500358,0.189233,0.507051,0.459938,0.504414,-0.586210,0.608433,-0.621112
TotalBsmtSF,0.557685,0.418706,0.305751,1.000000,0.912271,0.517430,0.370448,0.337671,0.476327,0.539858,0.612205,-0.414837,0.330111,-0.353424
1stFlrSF,0.539527,0.315715,0.299912,0.912271,1.000000,0.589766,0.392271,0.416777,0.472616,0.531808,0.621057,-0.355415,0.262008,-0.315156
GrLivArea,0.628890,0.205311,0.300983,0.517430,0.589766,1.000000,0.624707,0.826999,0.492914,0.499800,0.712054,-0.427637,0.340340,-0.384288
FullBath,0.598265,0.496001,0.500358,0.370448,0.392271,0.624707,1.000000,0.550967,0.528268,0.465081,0.597505,-0.516471,0.519781,-0.474227
TotRmsAbvGrd,0.482744,0.122193,0.189233,0.337671,0.416777,0.826999,0.550967,1.000000,0.426842,0.389448,0.573845,-0.307535,0.255900,-0.251362
GarageCars,0.627897,0.530869,0.507051,0.476327,0.472616,0.492914,0.528268,0.426842,1.000000,0.845512,0.658355,-0.543945,0.517289,-0.465095
GarageArea,0.579378,0.466243,0.459938,0.539858,0.531808,0.499800,0.465081,0.389448,0.845512,1.000000,0.621354,-0.511492,0.451725,-0.455758
SalePrice,0.792263,0.503317,0.504414,0.612205,0.621057,0.712054,0.597505,0.573845,0.658355,0.621354,1.000000,-0.598202,0.517222,-0.527176
ExterQual_TA,-0.692146,-0.608600,-0.586210,-0.414837,-0.355415,-0.427637,-0.516471,-0.307535,-0.543945,-0.511492,-0.598202,1.000000,-0.673381,0.683627
Foundation_PConc,0.593079,0.675289,0.608433,0.330111,0.262008,0.340340,0.519781,0.255900,0.517289,0.451725,0.517222,-0.673381,1.000000,-0.600103
KitchenQual_TA,-0.579892,-0.478635,-0.621112,-0.353424,-0.315156,-0.384288,-0.474227,-0.251362,-0.465095,-0.455758,-0.527176,0.683627,-0.600103,1.000000

In [17]:
#Single out the correlations to the target ('SalePrice')
saleprice_correlations = correlations["SalePrice"]

#Print/display these correlations
saleprice_correlations

OverallQual         0.792263
YearBuilt           0.503317
YearRemodAdd        0.504414
TotalBsmtSF         0.612205
1stFlrSF            0.621057
GrLivArea           0.712054
FullBath            0.597505
TotRmsAbvGrd        0.573845
GarageCars          0.658355
GarageArea          0.621354
SalePrice           1.000000
ExterQual_TA       -0.598202
Foundation_PConc    0.517222
KitchenQual_TA     -0.527176
Name: SalePrice, dtype: float64

In [18]:
#Sort the correlations to the target, arrange them in descending order 
#and display the top/first 10
saleprice_correlations.sort_values(ascending=False).head(10)

SalePrice           1.000000
OverallQual         0.792263
GrLivArea           0.712054
GarageCars          0.658355
GarageArea          0.621354
1stFlrSF            0.621057
TotalBsmtSF         0.612205
FullBath            0.597505
TotRmsAbvGrd        0.573845
Foundation_PConc    0.517222
Name: SalePrice, dtype: float64